<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!-- <head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>My Page</title>-->
<!-- </head>-->
<!-- <body>-->
<!--    <form method="POST" action="/response">-->
<!--   Search: <input type="search" name="lookup" required><br>-->
<!--   <input type="submit" value="Submit">-->
<!--  </form>-->
<!-- </body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>search</title>
     <link rel="stylesheet" link href="/static/css/main.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 </head>
 <body>
    <form method="POST" action="/response">
        <div class="wrap">
           <div class="search">
              <input type="text" class="searchTerm" placeholder="What are you looking for?" name="lookup">
              <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
             </button>
           </div>
        </div>
    </form>
 </body>
 </html>

